.javascript-only {
    display: none;
}

#why-not-useful {
    display: none;
    text-align: right;
    padding-top: 1em;
}

.relevance a {
    background-image: url("++resource++collective.wasthisuseful.images/thumbs.png");
    background-repeat: no-repeat;
    height: 20px;
    position: absolute;
    width: 30px;
}
.relevance a:hover {
    cursor: pointer;
}
.relevance a.up {
    background-position: 5px 0;
    right: 30px;
}
.relevance a.down {
    background-position: -50px 0;
    right: 0;
}
.relevance a.up:hover {
    background-position: 5px -30px;
}
.relevance a.down:hover {
    background-position: -50px -30px;
}